{%extends "parent.html"%}
{%block title%}Home Page{%endblock%}
{%block content%}
<br>
<br>
<div class="card text-center mx-auto" style="width: 70%; border-radius: 12%;">
    <br>
    <img src="{{ url_for('static', filename='images/image.png') }}" class="card-img-top mx-auto d-block" style="width: 500px ;border-radius: 12%;" alt="Sameer's Market">
    
    <div class="card-body" style="color: black">
        <h5 class="card-title">Welcome !! </h5>
        <p class="card-text">To explore the market click on the link below</p>
        <form action="" method="POST">
            <input type="hidden" name="form_type" value="redirect">
            <button type="submit"  class="btn btn-primary">Get Started </button>
    </form>
    </div>
</div>

    <!-- {%for item in users%}
        <p>{{item.username}}</p>
        <p>{{item.email}}</p>
        <p>{{item.password_hash}}</p> -->
    <!-- {%endfor%} -->
     

{%endblock%}