{% extends "parent.html" %}
{%block title%}Login{%endblock%}
{%block content%}
<div class="container d-flex justify-content-center">
    <br>
    <form action="" method="POST">
        <div class="text-center" >
            <img src="{{ url_for('static', filename='images/image.png') }}"  style="border-radius: 50%;" alt="Market" width="150" height="150">
        </div>
        
    <div class ="mb-3">
        <label for="username">Username</label>
        <br>
        <input type="text" palceholder="Username" name="username">
    </div>
    <div class ="mb-3">
        <label for="password">Password</label>
        <br>
        <input type="password" name="password">
    </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <br>
        <br>
        <h7>Don't have an Account?</h7>
        <br>
        <a href="{{url_for('register')}}" class="btn btn-primary">Sign up!!</a>
    </form>



</div>


{%endblock%}