{%extends "parent.html" %}
{%block title%} Register{%endblock%}

{%block content%} 
<div class="container justify-content-center d-flex">
    <form method="POST" action="/register">
        <div class="text-center">
            <img src="{{ url_for('static', filename='images/image.png') }}" style="border-radius: 50%" alt="Join Sameer's Market" width="150">
        </div>
        <input type="hidden" name="csrf_token" value="{{csrf_token}}">

        <div class="mb-3">
            <label for="username">UserName</label>
            <br>
            <input type="text" placeholder="Username" name="username">
        </div>

        <div class ="mb-3">
            <label for="email">Email</label>
            <br>
            <input type="email" placeholder="Email" name="email">
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <br>
            <input type="password" placeholder="Enter you password" name="password">

        </div>
        <div class="mb-3">
        <label for="confirm_password">Confirm Password</label>
        <br>
        <input type="password" placeholder="Enter you password again" name="confirm_password">
    </div>
        <button type="submit" class="btn btn-primary ">Register</button>
        


        <br>
        <br>
        <h7>Already a user?</h7>
        <br>
        <a href="{{url_for('login')}}" class="btn btn-primary">Sign in!!</a>
    </form>


</div>



{%endblock%}
